.presentation{
	margin-bottom: 70px;
	.img-holder{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			width: 2px;
			height: 100px;
			bottom: -50px;
			left: 10.2%;
			background: $black;
			@include media('<tablet') {
				height: 50px;
				width: 1px;
				bottom: -25px;
			}
		}
	}
	@include media('<tablet') {
		margin-bottom: 40px;
	}
}
figure { 
	text-align: center;
	margin: 0 0 15px;
	font-size: 13px;
	figcaption{
		margin-top: 10px;
	}
}

.grid,
.grid-projects{
	//margin-right: -10px;
	.grid-item { 
		width: 375px; 
		
		padding: 0 40px 40px 0;
		margin-bottom: 10px;
		img{max-width: 100%}
		&.right{
			transform: translateX(125px);
			right: 0;
			left: auto !important;
			transform: none;
			padding-right: 0;
			@include media('<desktop') { 
				right: auto;
				left: inherit !important;
			}
		}
		@include media('<desktop') {
			right: auto;
			left: inherit !important;
			padding-right: 0;
			padding-bottom: 15px;
		}
		@include media('<phone') {
			max-width: 100%;
		}
		.back{
			&:hover{
				color: $green;
			}
			&.contact{
				position: relative;
				&:after{
					position: absolute;
					bottom: -38px;
					left: 20px;
					width: 41px;
					height: 21px;
				}
			}
		}
		a{
			&:hover{
				color:$gray;
				.name{
					color:$black;
				}
			}
		}
		.img-holder{
			margin-bottom: 35px;
			position: relative;
			display: block;
			img{
				transition: opacity .3s ease-in;
			}
			&:before{
				content: '';
				position: absolute;
				left: 50%;
				bottom: -25px;
				height: 50px;
				width: 2px;
				background:$green;
				z-index: 2;
				opacity: 1;
				transition: all .3s ease-in;
			}
			.plus{
				opacity: 0;
				transition: opacity 0.3s ease-in;
				&:before,
				&:after{
					content: '';
					position: absolute;
					left: 50%;
					top: 50%;
					background:$black;
				}
				&:before{
					width: 50px;
					height: 2px;
					transform:translateX(-50%);
				}
				&:after{
					height: 50px;
					width: 2px;
					transform:translateY(-50%);
				}
			}
			&:hover{
				img{
					opacity: .5;
				}
				&:before{
					bottom:100px;
					opacity: 0;
				}
				.plus{
					opacity: 1;
				}
			}
		}
	}
	.title-grid{
		text-align: left;
		padding: 0 0 0 100px;
		margin-bottom: 50px;
		@include media('<desktop') {
			padding: 0;
		}
		@include media('<phone') {
			max-width: 100%;
		}
	}
}
.grid-projects{
	.title-grid{
		padding-left: 10%;
	}
}
.grid{
	.title-grid{
		padding: 0;
	}
	.img-holder{
		pointer-events:none;
	}
}
.grid article.person.grid-item:last-child{
	bottom: 40px;
	top: auto !important;
	@include media('<desktop') {
		bottom: 0;
	}
}