.title-page {
	h1 {
		padding-bottom: 20px;
		@include media('<desktop') {
			padding-bottom: 30px;
		}
	}
}
#main{
	padding-bottom: 20px;
}
.person{
	text-align: center;
	font-weight: bold;
	.name{
		color: $green;
	}
}

article{
	margin-bottom: 20px;
	letter-spacing: 0.6px;
	h3,.h3{
		margin-bottom: 0;
	}
}
#content{
	margin-bottom: 85px;
}
.video-holder{
	width: 100%;
	iframe{
		height: 14vw;
		width: 100%;
		@include media('<desktop') {
			min-height: 40vw;
		}
	}
}