.fancybox-overlay{
	background:$white;
	@include media('<tablet') {
		z-index: 8020;
	}
}
.fancybox-close{
	background:url(images/icons/close@3x.svg.svg);
	background-size: 100%;
	right: 15px;
	top: -35px;
	width: 21px;
	height: 21px;
	@include media('<tablet') {
		top: -10px;
	}
}
.fancybox-opened .fancybox-skin{
	box-shadow:none;
	background:$white;
}
.fancybox-title{
	color: $green;
	position: absolute;
	top: -33px;
	left: 120px;
	@include media('<tablet') {
		left: 15px;
		top: -20px;
		height: 100%;
		width: 100%;
		/* background: rgba(255,0,0,.3); */
		.title{
			position: absolute;
			top: 0;
			left: 0;
		}
		.num{
			position: absolute;
			right: 0;
			bottom: -23px;
			color: $gray;
		}
	}
}
.fancybox-nav{
	left: 15px;
	right: auto;
	opacity: 1;
	width: 35px;
	height: 20px;
	top: -27px;
	//background:#f00;
	span{
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		visibility: visible;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 100%;
	}
	@include media('<tablet') {
		bottom: -35px;
		top: auto;
		height: 15px;
		span{
			width: 27px;
		}
	}
}
.fancybox-next{
	transform: translateX(75%);
	span{
		background-image:url(images/icons/next-arrow@3x.svg.svg);
	}
	&:hover{
		span{
			background-image:url(images/icons/next-arrow-hover@3x.svg.svg);
		}
	}
}
.fancybox-prev{
	transform: translateX(-50%);
	span{
		background-image:url(images/icons/prev-arrow@3x.svg.svg);
	}
	&:hover{
		span{
			background-image:url(images/icons/prev-arrow-hover@3x.svg.svg);
		}
	}
}