#header{
  padding: 20px 0 20px;
  @extend %clearfix;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 35px;
  @extend transition;
  @include media('<phone') {
    padding-bottom: 17px;
    margin-bottom: 0;
  }
}
body{
  padding-top: 120px;
  @include media('<phone') {
    margin-top: 74px;
    margin-top: 69px;
  }
  @include media('<tablet') {
    .top-menu .drop{
      //top:60px
    }
  }
  #header{
    //padding: 5px 0;
    background:$white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8011;
  }
}

.logo{
  float: left;
  margin-left: -15px;
  @include media('<widescreen') { 
    margin-left: 0;
  }
  @include media('<phone') {
    img{
      max-height: 27px;
    }
  }
}
/* Hamburger Menu */
.McButton {
  margin-right: -15px;
  z-index: 10;
  $bar-w: 26px;
  $bar-h: 3px;
  $bar-color: $green;
  position: absolute;
  top: 8px;
  right: 0;

  margin-left: -($bar-w /2);
  /* margin-top: -($bar-w /2); */
  width: $bar-w;
  height: ($bar-w *3) /4;
  cursor: pointer;
  @include media('<widescreen') {
    margin-right: 25px;
  }
  @include media('<phone') {
    top: 5px;
    margin-left: -( 20px /2);
    width: 20px;;
    height: ( 20px *3) /4;
  }

  b {
    position: absolute;
    left: 0;
    width: $bar-w;
    height: $bar-h;
    background-color: $bar-color;
    @include media('<phone') {
      width:  20px;
    }
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
    }
    &:nth-child(3) {
      top: 100%;
    }
  }
}
/* McButton */

.top-menu{
  .drop{
    padding-right: 40px;
    padding-top: 7px;
    position: relative;
    left: 100%;
    display: inline-block;
    opacity: 0;
    z-index: -1;
    /* border: 1px solid #000; */
    @extend %transition;
    ul{
      @extend %listreset;
    }
    li{
      display: inline-block;
      
      margin: 0 10px;
      @extend .underlineAnchor;
    }
  }
  &.active .drop{
    left: 0;
    opacity: 1;
  }
  @include media('<tablet') {
    .drop{
      position: fixed;
      left: -100%;
      width: 100%;
      top: 72px;
      top: 0;
      font-size: 18px;
      bottom: 0;
      padding-top: 46px;
      padding-right: 0;
      background: $white;
      ul{
        max-height: 80vh;
        overflow: auto;
      }
      a{
        color:$green;
        display: block;
        padding: 30px 81px 33px 15px;
      }
      li{
        display: block;
        /* width: 100%; */
      }
    }
    &.active .drop{
      left: 0;
    }
  }
}

.title-page{
  h1, .h1{
    color: $green;
  }
}